*{
    margin: 0px;
    font-family: Helvetica, sans-serif;
}
.name{
    position: absolute;
    padding-left: 10px;
    padding-top: 15px;
    font-size: 30px;
}
.navigation{
    background-color: wheat;
}
.first{
    padding-top: 2px;
    padding-left: 1px;
    width: 60px;
    border: 3px;
    border-radius: 50px;
}
.nav{
    padding-left: 400px;
    font-size: 20px;
    position: absolute;
    padding-top: 25px;
}
.nav a{
    padding: 10px;
    color: black;
    text-decoration: none;
}
.imp{
    padding-top: 50px;
}
.sec1{
     margin-top: 0px;
     background-image: url(orange.png);
     background-repeat: no-repeat;
     background-position: 800px;
     padding-left: 260px;
     padding-top: 30px;
     padding-bottom: 290px;
}
.sec2{
    background-color: aliceblue;
    padding-top: 60px;
    padding-bottom: 100px;
}
.search{
    padding-left: 200px;
    width: 300px;
}
.form{
    padding-left: 300px;
    width: 300px;
}
.compcv{
    padding-top: 100px;
    padding-left: 500px;
    width: 300px;
}
.txt{
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(25, 25, 92);
    font-size: 20px;
    padding-top: 20px;
    position: absolute;
}
#txt1{
    padding-left: 200px;
}
#txt2{
    padding-left: 870px;
}
#txt3{
    padding-left: 505px;
}
.sec3{
    background-image: url(ordesign.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-left: 50px;
    padding-bottom: 200px;
}
.cvpic{
    position: absolute;
    width: 400px;
    padding-left: 700px;
}
.head{

    font-size: 30px;
    font-family: "Copperplate";
    padding-top: 150px;
}
.data{
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}
.btn{
    margin-top: 50px;
    margin-left: 200px;
    border: 1px solid orangered;
    padding: 10px;
    border-radius: 30px;
    background-color: crimson;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}